/* import googl font "Inter " */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* reset the styles  */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* common styles  */
body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
}
