/* import googl font "Inter " */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* reset the styles  */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* common styles  */
body,
.image-container,
.image-box,
.input-field,
.save-log-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* basic styles  */
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #d9e7ef, rgba(5, 79, 115, 0.03));
}

/* login container (parent container) styles  */
.login-container {
  width: 450px;
  padding: 50px 0px 0px;
  border-radius: 20px;
  border: 0.0001px solid #054e73d6;
  background: #ffffff;
  box-shadow:
    0 12px 30px rgba(5, 79, 115, 0.08),
    0 4px 12px rgba(5, 79, 115, 0.15);
  transition: all 0.3s ease;
}

.login-container:hover {
  transform: translateY(-3px);
  border: 1px solid #054e73d6;
  box-shadow:
    0 20px 40px rgba(5, 79, 115, 0.12),
    0 6px 18px rgba(5, 79, 115, 0.08);
}

/* top:: context container styles  */
.context-container {
  padding: 0px 40px;
}

.image-box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background: #f8f6f6;
  box-shadow:
    0 4px 10px rgba(5, 79, 115, 0.05),
    0 10px 20px rgba(5, 79, 115, 0.08);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.image-box:hover {
  transform: scale(1.05);
  box-shadow:
    0 6px 14px rgba(5, 79, 115, 0.07),
    0 12px 24px rgba(5, 79, 115, 0.1);
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-box {
  text-align: center;
  margin-top: 30px;
}

.content-head {
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 0.5px;
  color: #03354f;
}

.content-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 1rem;
  color: #526c7a;
  line-height: 1.6;
}

/*bottom::  form styles  */
.login-form {
  color: #fff;
  margin-top: 30px;
  padding: 50px 40px;
  border-radius: 60% 60% 20px 20px / 10% 10% 20px 20px;
  border: 1px solid #054e73d6;
  background: #054e73d6;
}

/* input field styles  */
.input-field {
  gap: 15px;
  position: relative;
}

.input-field input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #3a6d8c;
  outline: none;
  font-size: 1rem;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.input-field input:focus {
  border-color: #054f73;
  box-shadow: 0 0 10px rgba(5, 79, 115, 0.2);
}

.peek-box {
  position: absolute;
  right: 12px;
  top: 22px;
  cursor: pointer;
}
.peek-box .fa-eye {
  color: #3a6d8c;
  font-weight: 100;
}

/* save log(remember me) section's styles  */
.save-log-container {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  justify-content: space-between;
  margin-top: 12px;
}

.log-check-container {
  display: flex;
  gap: 6px;
  align-items: center;
  white-space: nowrap;
}

.forgot-box a {
  color: #fff;
}

/* submit button styles  */
.button-container {
  margin-top: 15px;
}

.button-container button {
  width: 100%;
  background-color: #ffffff;
  color: #054f73;
  border: 2px solid #054f73;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition:
    all 0.3s ease,
    transform 0.2s ease;
}

.button-container button:hover {
  background-color: #054f73;
  color: #ffffff;
  box-shadow: 0 6px 15px rgba(5, 79, 115, 0.25);
  transform: translateY(-2px);
}

.button-container button:active {
  transform: translateY(-0);
  box-shadow: 0 3px 8px rgba(5, 79, 115, 0.2);
}

/* responsive styles  */
/* only small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {
  .input-field input {
    width: 75%;
  }

  .peek-box {
    right: calc(12px + 11%);
  }

  .save-log-container {
    justify-content: space-around;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-container button {
    width: 50%;
  }
}

/* before all medium all devices styles */
@media (max-width: 767.98px) {
  body {
    display: block;
  }

  main {
    height: 100%;
  }

  /* login container (parent container) styles  */
  .login-container {
    padding: 25px 0px 0px;
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .login-container:hover {
    transform: translateY(0);
  }

  .login-form {
    padding: 50px 25px;
    border-radius: 60% 60% 0px 0px / 10% 10% 0px 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
